



$primary:rgb(255, 196, 36);
$black:#1a1a1a;
$white:#fafafa;
$grey:hsl(0, 0%, 55%);
$line:#eaeaea;


$textOnBlack:#EDEDED;
$blogDate: #676767;
$paginationActive: #515151;
$paginationDisabled: #D7D7D7;

$container_max_width: 2200px;