@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@font-face {
    font-family: 'Numbers';
    src: url('/fonts/numbers.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

