@import '~/assets/colors.scss';
@import '~/assets/fonts.scss';
@import '~/assets/mixins.scss';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

html{
	scroll-behavior: smooth;
}

body {
	font-family: 'MyFont', system;
	color: $black;

	a,p,span{
		text-decoration: none;
		font-family: 'MyFont';
		font-weight: normal;

		font-size: 1rem;
		line-height: 1rem;
		&::selection{
			background: $primary;
		}
	}
	a{
		text-decoration: none;
		color: $black;
	}

	@include headings(){
		font-weight: bold;
		&::selection{
			background: $primary;
		}
	}

	
}

.container {
	width:100%;
	min-height: 100vh;
	margin: 80px 0;

	display: flex;
	flex-direction: column;
}


.page-enter-active, .page-leave-active {
	transition: opacity .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.page-enter, .page-leave-active {
	opacity: 0
}

